@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.btn:hover svg{
    margin-right: -10px;
}
.quiz-title::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #ffb671;
    height: 7px;
    content: '';
    width: 100px;
    transform: translateX(-50%);
}
body{
    font-family: 'Josefin Sans', sans-serif!important;
    font-size: 18px!important;
}
.eye-svg{
    fill: #ffb671!important;
}
.Toastify__toast-container{
    max-width: 500px!important;
    width: 100%!important;
}
.recharts-legend-item{
    margin-right: -58px!important;
}
.font-sans{
    font-family: 'Josefin Sans', sans-serif!important;
}

@media screen and (max-width: 768px) {
    body{
        padding: 0 20px;
    }
    .banner-sec{
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media screen and (max-width: 640px) {
    .Cgrid{
        max-width: 400px;
        width: 100%;

    }
}

@media screen and (max-width: 899px) {
    .navlink{
        display: none!important;
    }
}